body {
    background-color: darkslategrey;
    font-family: 'Courier New', Courier, monospace;

}

h1 {

    color: deeppink;
    text-align: center;
}

p {

    color: greenyellow;
    text-align: center;

}

a {

    font-size: 24px;
    color: mediumorchid;
}

ul {
    font-size: medium;
    color: hotpink;
    text-align: center;
    list-style-type: none;
}

.intro {
    font-size: 25px;
}

.tekst {
    font-size: 18px;
}

#title {
    font-size: 55px;
}

.foto {

    width: 150px;

    margin: 0px;



}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}