body {
    background-color: darkslategrey;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 55px;
    color: deeppink;
    text-align: center;
}

p {
    font-size: medium;
    color: greenyellow;
    text-align: justify;

}

a {

    font-size: 24px;
    color: mediumorchid;
}

ul {
    font-size: medium;
    color: hotpink;
    text-align: center;
}