body {
    background-color: cadetblue;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
}

header {

    margin: 30px auto;
    height: 200px;
    padding: 10px;
    display: flex;



    border-top: yellow 5px double;
    border-bottom: yellow 5px solid;
    width: 1000px;



    background-image: url(view.jpeg);
    background-size: auto;
    background-position: center calc(50% - 120px);
    background-color: cadetblue;
    background-repeat: no-repeat;
}

.hvor {
    text-align: left;
    color: deeppink;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 55px;
}

h1 {
    font-size: 30px;
    text-align: left;
    color: darkslategrey;
    text-decoration: underline;
    margin-top: 60px;
}

main {
    background-color: darkcyan;
    color: khaki;
    text-align: center;
    border-color: deeppink;
    border-width: 5px;
    border-style: double;


}

h2 {
    font-size: 20px;
    margin: 15px 0;
}

h3 {
    font-size: 20px;
    margin: 15px 0;
}

a {
    color: darkmagenta;
    text-align: center;
}

ul {

    list-style-type: none;
}

.column {
    margin: 20px 10px;

}

footer {
    text-align: center;
    margin: 200px auto;

}

.intro {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    width: 700px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;


}

.columns {
    display: flex;
}

.column {
    flex: 1;
    padding: 15px;

}