body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Courier New', Courier, monospace;
     
}

.avatar {
    width: 150px;
   
}
.avatar:hover{
    filter: sepia(100%); }
    
.tekst {
    transition: transform 0.5s ease;}
    
.tekst:hover{
    transform: rotate(180deg);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #E9FF70;

    color: #FF70A6;
    border-bottom: 6px solid #70D6FF;
    border-top: 4px double #FF9770;
    border-radius: 20px 40px 20px 40px;
    text-shadow: 2px 2px 5px #7bf1a8;
    
   
        
  
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

