* {
    box-sizing: border-box;
}


body {
    background-color: hsl(226, 43%, 10%);

    font-family: Rubik;
    color: aliceblue;
}



main {
    /* border: 5px solid violet; */
    max-width: 100%;
    margin-top: auto auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " name work play study" "name exercise social selfcare";
    gap: 20px;

}

div {

    max-width: 100%;
    height: auto -5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    overflow: hidden;
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;

}

#user {
    width: 75px;
    height: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid white;
    border-radius: 100px;

}

img {

    width: 70px;
    height: 70px;
    margin-right: 10px;

}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    overflow: hidden;
    margin-top: -5px;
}

#user-hd {
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
    padding: 20px;
    border-radius: 15px;
    background-color: hsl(246, 80%, 60%);

}

#under-user {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    background-color: hsl(235, 46%, 20%);
    border-radius: 17px;
    padding: 20px;
    line-height: 1;



}

#report {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-left: 0%;
}

#jeremy {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 30px;
    margin-left: 0%;

}

#name {
    grid-area: name;
    background-color: hsl(235, 46%, 20%);


}

#work {
    grid-area: work;
    background-color: hsl(15, 100%, 70%);
}

#play {
    grid-area: play;
    background-color: hsl(195, 74%, 62%);
}

#study {
    grid-area: study;
    background-color: hsl(348, 100%, 68%);
}

#exercise {
    grid-area: exercise;
    background-color: hsl(145, 58%, 55%);
}

#social {
    grid-area: social;
    background-color: hsl(264, 64%, 52%);
}

#selfcare {
    grid-area: selfcare;
    background-color: hsl(43, 84%, 65%);
}

.over {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    width: 100%;
    height: calc(100% - 45px);
    text-align: left;
    padding-top: 10px;
    overflow: hidden;

}

.last {
    font-size: 18px;
    margin: 10px;
    font-weight: 400;

}

.last:hover {
    cursor: pointer;
    color: hsl(236, 100%, 87%);
}

.hours {
    font-size: 50px;
    font-weight: 300;
    padding-bottom: -10px;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.over h1,
.over h2,
.over p {
    line-height: 1.2;
    padding-left: 10px;
    margin: 10px;

}

.over:hover {
    cursor: pointer;
    background-color: hsl(235, 45%, 61%);
}

.ikona {
    height: 18px;
    width: 18px;
    display: inline;
    justify-content: right;
}

@media (max-width:768px) {

    main {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    div {


        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;

    }

    .over {
        background-color: hsl(235, 46%, 20%);
        border-radius: 15px;
        width: 100%;
        height: calc(100% - 45px);
        min-height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-bottom: 10px;
        overflow: hidden;

    }

    .over h1 {
        grid-column: 1/3;

    }

    .over h2 {
        font-size: 28px;
        grid-column: 1/2;
    }

    .over p {
        margin: 20px 10px 0 10px;
        font-size: 12px;
        grid-column: 2/3;
    }

    .hours,
    .last {
        display: block;
        color: rgb(194, 112, 183);

    }

    #under-user {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    #user-hd {
        width: 100%;
        height: 120px;
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "user report" "user jeremy";
        align-items: center;
        overflow: hidden;
        padding: 0 20px;
        height: 120px;

    }


    #report {
        font-size: 14px;
        font-weight: 300;
        align-self: self-end;
        margin-top: 30px;
        grid-area: report;
    }

    #jeremy {
        font-size: 20px;
        font-weight: 300;
        margin-top: 0px;
        grid-area: jeremy;

    }

    #user {
        grid-area: user;
        margin-top: 20px;
        justify-self: center;
        width: 65px;
        height: 65px;
    }

    header {
        height: 40px;
    }
}